<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue: Introduction</title>
    <!-- vue를 cdn 주소로 연결 -->
    <script src="https://unpkg.com/vue@next"></script>
    <script defer src="./main.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 양방향데이터 사용(v-model): 사용자가 입력한 데이터를 받아 다시 화면에 출력 -->
      <!-- v-on은 @로 대체 가능 (축약 가능) -->
      <!-- v-bind는 아예 생략 가능 -->
      <input v-model="title" @:keydown.enter="searchMovies(true)" />
      <!-- Search 버튼을 눌렀을때는 최초검색이므로 isFirst 파라미터에 true라는 인수를 전달해준다 -->
      <button @:click="searchMovies(true)">Search</button>
      <ul>
        <li v-for="movie in customMovies" :key="movie.imdbID">
          <img :src="movie.poster" alt="" />
          {{ movie.title }}
        </li>
      </ul>
      <button v-if="movies.length" @:click="searchMovies">More..</button>
    </div>
  </body>
</html>
